button,
fieldset,
input {
	all: unset;
}
.buy-sell-container {
	background: var(--secondary);
	padding: 14px;
	border-radius: 10px;
	border: 1px solid var(--border-primary);
	grid-area: buysell;
}
.TabsRoot {
	display: flex;
	flex-direction: column;
}

.TabsList {
	flex-shrink: 0;
	display: flex;
	flex-direction: row !important;
	height: 50px;
	padding-inline: 3px;
	align-items: center;
	background-color: var(--tab-inactive);
	border-radius: 16px;
	/* border-bottom: 1px solid var(--mauve-6); */
}

.TabsTrigger {
	display: none;
	font-family: inherit;
	background-color: var(--tab-inactive);
	padding: 0 20px;
	height: 42px;
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	font-weight: 400;
	line-height: 1;
	user-select: none;
	color: #a7b1bc;
	outline: none;
	border: 0;
	/* border-radius: 1px; */
}
.TabsTrigger:first-child {
	border-top-left-radius: 6px;
}
.TabsTrigger:last-child {
	border-top-right-radius: 6px;
}

.TabsTrigger[data-state="active"] {
	color: white;
	outline: none;
	background-color: var(--tetiary);
	border: 0;
	border-radius: 16px;
}
.buy-sell-container .TabsTrigger[data-state="active"] {
	border: 1px solid var(--secondary-success);
}


.TabsContent {
	flex-grow: 1;
	padding: 20px;
	padding-inline: 0px;
	background-color: inherit;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	outline: none;
	user-select: none;
	box-shadow: 0 0 #0000;
}
.TabsContent:focus {
	box-shadow: 0 0 #0000;
}

.Text {
	margin-top: 0;
	margin-bottom: 20px;
	font-size: 15px;
	line-height: 1.5;
}

.TabsContent .inner-buy .TabsList {
	background-color: var(--secondary);
}

.TabsContent .inner-buy .TabsTrigger {
	padding: 10px;
	background-color: var(--secondary);
}

.TabsContent .inner-buy .TabsTrigger[data-state="active"] {
	border: 0;
	border-radius: 100%;
	background-color: #353945;
}

.buy-cta {
	width: 100%;
	height: 50px;
	border-radius: 8px;
	color: white;
	font: 500;
	border: none;
	background: linear-gradient(90deg, #483BEB, #7847E1, #DD568D);
  text-align: center;
}
