.chartnav-container {
	padding: 24px 16px;
	border: 1px solid var(--border-primary);
	border-radius: 10px;
	background-color: var(--secondary);
	display: flex;
	width: 100%;
	overflow: hidden;
	align-items: center;
	grid-area: chartnav;
}
.chartnav-container .symbol {
	border: 0;
	display: flex;
	align-items: center;
	gap: 1.75rem;
	border-right: 1px solid rgba(234, 240, 254, 0.1);
	padding-right: 40px;
	padding-block: 10px;
}
.symbol-price {
	color: var(--secondary-success);
	font-size: 18px;
	font-weight: 500;
}
.dropdown-trigger-button {
	outline: none;
	text-transform: uppercase;
	font-size: 22px;
	font-weight: 500;
	color: white;
	display: flex;
	align-items: center;
}
.dropdown-trigger-button:focus-within {
	outline: none;
}

.dropdown-trigger-button svg {
	color: white;
	width: 1.25rem; /* size-5 */
	height: 1.25rem;
	margin-left: 1.25rem; /* ml-5 */
}

.dropdown-content {
	width: 444px;
	height: 400px;
	border: 1px solid #373b3f;
	border-radius: 8px;
	margin-top: 1.25rem; /* mt-5 */
	margin-left: 30px;
	padding: 1rem;
}

.dropdown-title {
	font-size: 16px;
	margin-bottom: 0.75rem;
	font-weight: 500;
	color: white;
}

.dropdown-search {
	padding-left: 1rem;
	padding-right: 1rem;
	display: flex;
	align-items: center;
	width: 100%;
	background-color: #20252b;
	height: 40px;
	margin-bottom: 0.75rem;
	border: 1px solid #373b3f;
	border-radius: 8px;
}

.dropdown-search input {
	width: 100%;
	flex: 1;
	height: 100%;
	padding-left: 0.75rem;
	border: none;
	color: white;
	background: transparent;
}

.dropdown-search input::placeholder {
	color: #a5b1bd;
}

.market-filters {
	display: flex;
	align-items: center;
	gap: 1rem;
	border-top: 1px solid var(--border-primary);
	border-bottom: 1px solid var(--border-primary);
	padding-top: 0.375rem;
	padding-bottom: 0.375rem;
	border-left: none;
	border-right: none;
}

.market-filter-button {
	font-size: 15px;
	font-weight: 500;
	outline: 0;
	border: 0;
	cursor: pointer;
	border-radius: 9999px;
	padding: 0.375rem 0.75rem;
	background: none;
	color: #a7b1bc;
	transition: all 0.2s ease;
}

.market-filter-button.active {
	background-color: #353945;
	color: white;
}

.market-list {
	width: 100%;
	margin-top: 0.75rem;
}

.dropdown-item {
	cursor: pointer;
}

.dropdown-item:hover {
	background: inherit;
}

.dropdown-item p {
	text-transform: uppercase;
	color: #a7b1bc;
	font-size: 15px;
	font-weight: 400;
}

.chartnav-container .chart-header-block-wrapper {
	display: flex;
}
.chartnav-container .chart-header-block {
	border: 0;
	border-right: 1px solid rgba(234, 240, 254, 0.1);
	padding-right: 72px;
	padding-left: 40px;
}

.chartnav-container .chart-header-block:first-child {
	border-right: 1px solid rgba(234, 240, 254, 0.1);
	padding-right: 72px;
	padding-left: 40px;
}
.chartnav-container .chart-header-block:last-child {
	border-right: 0;
}

.chartnav-container .item-header {
	color: var(--secondary-tint);
	font-weight: 400;
	font-size: 14px;
	display: flex;
	align-items: center;
	gap: 5px;
	margin-bottom: 10px;
}

.dropdown-content {
	background-color: var(--primary) !important;
	border: 1px solid var(--border-primary) !important;
}

.react-window-no-scrollbar {
	scrollbar-width: none;
	-ms-overflow-style: none;
	overflow-y: scroll;
}

.react-window-no-scrollbar::-webkit-scrollbar {
	display: none;
}

@media screen and (max-width: 1240px) {
	.chartnav-container {
		padding: 24px 16px;
		border: 1px solid var(--border-primary);
		border-radius: 10px;
		background-color: var(--secondary);
		display: flex;
		gap: 10px;
		flex-direction: column;
		align-items: start;
		grid-area: chartnav;
	}
	.chartnav-container .symbol {
		border: 0;
		display: flex;
		align-items: center;
		gap: 1.75rem;
	}
	.chartnav-container .chartheader-data-container {
		display: flex;
	}
	.chartnav-container .chart-header-block {
		border: 0;
		border-right: 1px solid rgba(234, 240, 254, 0.1);
		padding-right: 40px;
		padding-left: 20px;
		width: 100%;
	}
	.chart-header-block-wrapper .chart-header-block {
		border: 0;
		border-right: 1px solid rgba(234, 240, 254, 0.1);
		padding-right: 30px;
		padding-left: 20;
		width: auto;
		flex: 0 0 auto;
	}
	.chart-header-block-wrapper .chart-header-block:first-child {
		padding-left: 0;
	}

	.chart-header-block-wrapper {
		display: flex;
		padding: 1rem 0;
		gap: 16px;
		overflow: auto;
		white-space: nowrap;
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
	.chart-header-block {
		flex: 0 0 auto;
		width: auto;
		padding: 0 1rem;
		border: 1px solid rgba(255, 255, 255, 0.05);
		border-radius: 8px;
	}
	.chart-header-block-wrapper::-webkit-scrollbar {
		height: 6px;
	}
	.chart-header-block-wrapper::-webkit-scrollbar-thumb {
		background-color: rgba(255, 255, 255, 0.2);
		border-radius: 10px;
	}
}
