button,
fieldset,
input {
	all: unset;
}
.orderbook-container {
	background: var(--secondary);
	padding: 14px;
	border-radius: 10px;
	border: 1px solid var(--border-primary);
	grid-area: orderbook;
}
.TabsRoot {
	display: flex;
	flex-direction: column;
}

.TabsList {
	flex-shrink: 0;
	display: flex;
	flex-direction: row !important;
	height: 50px;
	padding-inline: 3px;
	align-items: center;
	background-color: var(--tab-inactive);
	border-radius: 16px;
}

.ordertype-box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 6px;
}
.ordertype-icons {
	display: flex;
	gap: 4px;
	align-items: center;
}
.ordertype-icons .icon {
	width: 32px;
	height: 32px;
}

.TabsTrigger {
	font-family: inherit;
	background-color: var(--tab-inactive);
	padding: 0 20px;
	height: 42px;
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	font-weight: 400;
	line-height: 1;
	user-select: none;
	color: #a7b1bc;
	outline: none;
	border: 0;
}
.TabsTrigger:first-child {
	border-top-left-radius: 6px;
}
.TabsTrigger:last-child {
	border-top-right-radius: 6px;
}
.orderbook-container .TabsTrigger[data-state="active"] {
	color: white;
	outline: none;
	background-color: var(--tetiary);
	border: 0;
	border-radius: 10px !important;
}

.TabsContent {
	flex-grow: 1;
	padding: 20px;
	padding-inline: 0px;
	background-color: inherit;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	outline: none;
	user-select: none;
	box-shadow: 0 0 #0000;
}
.TabsContent:focus {
	box-shadow: 0 0 #0000;
}

.Text {
	margin-top: 0;
	margin-bottom: 20px;
	color: var(--mauve-11);
	font-size: 15px;
	line-height: 1.5;
}

table {
	width: 100%;
	table-layout: fixed;
}
.table-header {
	color: var(--secondary-tint);
	font-size: 14px;
	font-weight: 400;
}

.table-header td,
.orderbook-sell-data td {
	width: 33.33%;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.orderbook-sell-data,
.orderbook-buy-data {
	position: relative;
	z-index: 1;
	height: 40px;
	color: white;
}
.orderbook-sell-data .text-error {
	color: var(--primary-red);
}

.orderbook-sell-data::after {
	content: "";
	position: absolute;
	width: var(--width, 0%);
	background: var(--secondary-error);
	height: 100%;
	z-index: -1;
	right: 0;
	top: 0;
	bottom: 0;
}
.orderbook-buy-data::after {
	content: "";
	position: absolute;
	width: var(--width, 0%);
	background: rgba(37, 194, 110, 0.4);
	height: 100%;
	z-index: -1;
	right: 0;
	top: 0;
	bottom: 0;
}

.orderbook-buy-data .text-error {
	color: var(--secondary-success);
}
